<div class="page-container">
    <div>
        <img class="about-img"
            src="https://images.unsplash.com/photo-1507914464562-6ff4ac29692f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aGFwcHklMjBjb2ZmZWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
    </div>

    <div class="about-desc">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quisquam consequuntur quasi est at
            voluptates velit nostrum blanditiis enim assumenda!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, laborum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, laborum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quisquam consequuntur quasi est at
            voluptates velit nostrum blanditiis enim assumenda!</p>
        <p class="last-paragraph">Copyright © Yordan Nikolow</p>
    </div>
</div>