<div class="page-container">
    <div class="about-desc">
         <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quisquam consequuntur quasi est at voluptates velit nostrum blanditiis enim assumenda!</p>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, laborum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, laborum!</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quisquam consequuntur quasi est at voluptates velit nostrum blanditiis enim assumenda!</p>
        <p class="last-paragraph">Copyright © Yordan Nikolow</p>
    </div>
</div>