.textarea {
    width: 350px;
    resize: none;
}
.card-container {
    text-align: left;
}


.author {
    margin-right: 5px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.page-container {
    padding-top: 40px;
    margin: auto;
    text-align: center;
    width: 30%;
}

.card-container {
    color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.40);
    border: 2px solid black;
}

.hint {
    color:rgb(185, 178, 178)
}