.heading {
    padding-top: 100px;
    margin-bottom: 30px;
}

.add-item-container{
    background-image: url(../../../assets/img/back-ground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}



.form-container {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.10);
    margin: auto;
    width: 20%;
    border: 2px solid black;
}

.add-form-btn {
    margin-top: 20px;
    margin-left: 25%;
}

.alert {
    margin-top: 15px;
}