<header>
    <div class="header-container">
        <div class="logo-container">
            <img class="logo-image" alt="coffe-logo" src="../../../assets/img/logo.png">
            <p class="logo-text">Coffee lovers</p>
        </div>

        <nav>
            <ul class="item-list-top">
                <li class="list-item"><a href="#">Home</a></li>
                <li class="list-item"><a href="#">About</a></li>
                <li class="list-item"><a href="#">My Favorite</a></li>
                <li class="list-item"><a href="#">
                        <mat-icon class="nav-icon"> store_mall_directory</mat-icon>
                    </a>
                    <!-- <ul>
                        <li class="list-item">
                            Capsule coffes
                        </li>
                        <li class="list-item">
                            Groud coffes
                        </li>
                    </ul> -->
                </li>
                <li class="list-item"><a href="#">
                        <mat-icon class="nav-icon">account_circle</mat-icon>
                    </a></li>


            </ul>
        </nav>
    </div>
</header>