<header>
    <div class="header-container">
        <div class="logo-container">
            <img class="logo-image" alt="coffe-logo" src="../../../assets/img/logo.png">
            <p class="logo-text">Coffe lovers</p>

        </div>

        <nav>
            <ul class="item-list-top">
                <li class="list-item"><a href="#">Home</a></li>
                <li class="list-item"><a href="#">About</a></li>
                <li class="list-item"><a href="#">My Favorite</a></li>
                <li class="store-hoover list-item"><a href="#">Store</a>
                    <!-- <ul>
                        <li class="list-item">
                            Capsule coffes
                        </li>
                        <li class="list-item">
                            Groud coffes
                        </li>
                    </ul> -->
                </li>
                <li class="list-item"><a href="#">Add more</a></li>
                <!-- <li class="list-item"><a href="#">Home</a></li> -->
            </ul>
        </nav>
    </div>