<div class="page-container">
    <h1 class="heading">Update Item Form</h1>
  
        <form class='form-container' [formGroup]="updateItemForm" (submit)="updateItem()">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Item name</mat-label>
                    <input matInput placeholder="Item name" formControlName="itemName">
                    <mat-icon matSuffix>label_important</mat-icon>
                    <mat-hint *ngIf="updateItemForm.controls?.itemName.touched &&  updateItemForm.controls.itemName.errors?.required">You shoud be type name </mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Weight Item</mat-label>
                    <input matInput placeholder="Weight Item" formControlName="weight">
                    <mat-icon matSuffix>opacity</mat-icon>
                    <mat-hint *ngIf="updateItemForm.controls.weight.touched &&  updateItemForm.controls.weight.errors?.required">You shoud be type weight </mat-hint>

                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Image Url</mat-label>
                    <input matInput placeholder="image url" formControlName="imageUrl">
                    <mat-icon matSuffix>image</mat-icon>
                    <mat-hint *ngIf="updateItemForm.controls.imageUrl.touched &&  updateItemForm.controls.imageUrl.errors?.required">Your URL is incorect</mat-hint>

                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea class="textarea" rows="5" cols="" matInput placeholder="Here type your description " formControlName='description'> </textarea>
                    <!-- <mat-hint>You can write only 160 symbols</mat-hint> -->
                    <mat-icon matSuffix>A</mat-icon>
                    <mat-hint *ngIf="updateItemForm.controls.description.touched &&  updateItemForm.controls.description.errors?.required">You need write description no more of 160 symbols</mat-hint>
                    <mat-hint *ngIf="this.updateItemForm.controls.description.value.length >160">You shoud be write no more 160 symbols</mat-hint>

                </mat-form-field>
            </div>
            <!-- <div class="alert alert-danger" *ngIf="warningMessage">{{warningMessage}}</div> -->
            <div class="btn-container">
                <button class="action-btn" mat-flat-button color="basic">Update item</button>
            </div>
        </form>


</div>